*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container -------------------*/
.container {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}

/* logo -------------------*/
.logo{
    text-align: center;
    padding: 20px;
}

.logo img {
    max-width: 300px;
}

/* new-todo -------------------*/
.new-todo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

input,
button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black
}

input {
    width: 250px;
}

/* elenco -------------------*/
.elenco {
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;    
}

.elenco li,
.elenco i {
    display: flex;
    justify-content:space-between;
}
